In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

### Missing values:

#### Dropping the columns
* Drop Columns
![dropping columns](assets\Sax80za.png "dropping columns")

* Imputation
Fill the value with another number maybe the mean

In [12]:
data=pd.read_csv(r"C:\Users\DELL\Desktop\Repo\Machine Learning\kaggle\datasets\melb_data.csv")
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [13]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [15]:
y=data['Price']

In [16]:
#Selecting only those columns which have numerical entries
data_2=data.drop(['Price'], axis=1)
x=data_2.select_dtypes(exclude=['object'])
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rooms          13580 non-null  int64
 1   Distance       13580 non-null  float64
 2   Postcode       13580 non-null  float64
 3   Bedroom2       13580 non-null  float64
 4   Bathroom       13580 non-null  float64
 5   Car            13518 non-null  float64
 6   Landsize       13580 non-null  float64
 7   BuildingArea   7130 non-null   float64
 8   YearBuilt      8205 non-null   float64
 9   Lattitude      13580 non-null  float64
 10  Longtitude     13580 non-null  float64
 11  Propertycount  13580 non-null  float64
dtypes: float64(11), int64(1)
memory usage: 1.2 MB

In [17]:
data_2=data_2.dropna(axis=0)

In [18]:
train_x, val_x, train_y, val_y = train_test_split(x, y, train_size=0.8, test_size=0.2, random_state=0)

In [19]:
from sklearn.metrics import mean_absolute_error
def get_mae(train_X, val_X, train_y, val_y):
    data_model=RandomForestRegressor(n_estimators=10, random_state=0)
    data_model.fit(train_X, train_y)
    predictions=data_model.predict(val_X)
    mae=mean_absolute_error(val_y, predictions)
    return mae

### Approach one: dropping entire column

In [20]:
columnsWithNan=[col for col in train_x.columns if train_x[col].isnull().any() ]
print(columnsWithNan)

['Car', 'BuildingArea', 'YearBuilt']

In [21]:
train_x.columns

Index(['Rooms', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude',
       'Propertycount'],
      dtype='object')

In [22]:
reduced_X_train = train_x.drop(columnsWithNan, axis=1)
reduced_X_valid = val_x.drop(columnsWithNan, axis=1)

In [23]:
get_mae(reduced_X_train, reduced_X_valid, train_y, val_y)

183550.22137772635

### Approach two: Imputation

In [24]:
from sklearn.impute import SimpleImputer
impute=SimpleImputer()

In [25]:
impute_train_x=pd.DataFrame(impute.fit_transform(train_x))
imputed_val_x = pd.DataFrame(impute.fit_transform(val_x))

In [26]:
# Imputation removed column names; put them back
impute_train_x.columns = train_x.columns
imputed_val_x.columns = val_x.columns

In [27]:
get_mae(impute_train_x, imputed_val_x, train_y, val_y)

179816.89508731329